.hero{
    text-align: center;
    padding-bottom: 5em;

    .copy{
    margin-bottom: 2.5em;
    }
    &__image{
       height: 300px;
       margin: 0 calc(-1 * var(--wrapperSpace)); 
       background: url(../../images/image-mockups.png)center bottom no-repeat, url(../../images/bg-intro-mobile.svg)center no-repeat;
       background-size: 345px, cover; 
       margin-bottom: 1em;
    }
}

    .title{
    &__h1{
    font-size: 2.5em;
    font-weight: 400;
    color: var(--Dark_Blue);
    line-height: 1.3em;
    margin: 0;
    margin-bottom: .5em;
    }
    &__h2{
        @extend .title__h1;
        font-size: 1.5em;
    //    border: 1px solid red;
    }
}
.copy{
    line-height: 1.2;
    font-size: 1em;
    color: var(--Grayish_Blue);
}

.is_hidden{
    display: none!important;
}

.wrapper{
    padding: 0 var(--wrapperSpace);
}

.button{
    padding: 1em 2em;
    border-radius: 20px;
    background-image: linear-gradient(to right, var(--Lime_Green) 0%, var(--Bright_Cyan)100%);
    color: var(--White);
    font-weight: 500;
}
