.why{
    text-align: center;
    background: var(--Light_Grayish_Blue);
    padding-top: 5em;

.copy{

    margin-bottom: 4em;

   }

   &__items{
        .copy{

            margin-bottom: 2em;

             }
     }
   img{
       margin-bottom: 1.5em;
   }

}
